{% load static %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
   <img src="{% static 'img/anonymous_mask.png' %}" width="30" height="30" alt="-.-">
 </a>
  <a class="navbar-brand" href="/apuestas/">apuestas</a>
  <a class="navbar-brand" href="/leer/">info</a>
  <a class="navbar-brand" href="/api/">api</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      {% if request.user.is_authenticated %}
      <a class="nav-item nav-link" href="#">{{ request.user }}</a>
      <a class="nav-item nav-link" href="/logout/">Logout</a>
      {% else %}
      <a class="nav-item nav-link" href="/accounts/login/">Login</a>
      <a class="nav-item nav-link" href="javascript: open_modal_register()">Registrate</a>
      {% endif %}
    </div>
  </div>
</nav>

<script src="{% static 'js/apuestas.js'%}" charset="utf-8"></script>

<div class="modal" id="modal_register">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-group" action="/register/" id="id_form_register" method="post">
          {% csrf_token %}
          <div class="container">
            <div class="row">
              <label for="username">Usuario</label>
              <input type="text" class="form-control" name="username" required id="id_username" maxlength="254">
            </div>
            <div class="row">
              <label for="password">Contraseña</label>
              <input type="password" class="form-control" name="password1" required maxlength="254">
            </div>
            <div class="row">
              <label for="password">Confirmar contraseña</label>
              <input type="password" class="form-control" name="password2" required maxlength="254">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btn-register">Registrar</button>
        <button type="button" class="btn btn-secondary" id="btn-cancelar">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
