{% extends "base.html" %}
{% load static %}

{% block body %}
<a style="color: #FFFFFF; background-color:#b4b4b4" class="azenda-btn-afspraak-maken" href="#venue_modal">
    <span class="azenda-btn-afspraak-maken-icon"></span>
</a>

<div class="remodal" data-remodal-id="venue_modal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <iframe width="100%" height="100%" src="https://widget.azenda.com/venue/manifesta/"
            frameborder="0" allowfullscreen></iframe>

    <div class="logo-footer">
        <h5>Powered by</h5>
        <img src="https://stg.azenda.mobydigital.com/static/website/images/logo-100px.svg" alt="Azenda">
    </div>
</div>

<script src="https://stg.azenda.mobydigital.com/static/website/js/remodal.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://stg.azenda.mobydigital.com/static/website/css/widget/remodal.css">
<link rel="stylesheet" href="https://stg.azenda.mobydigital.com/static/website/css/widget/remodal-default-theme.css">
<link rel="stylesheet" href="https://stg.azenda.mobydigital.com/static/partneradmin/css/lib-widget-icon.css">

{% endblock %}
