{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid text-center">
        <h1 class="display-3">Hola, que tal</h1>
    </div>
</div>
{% endblock %}
