{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-4">
      <h1 class="text-center login-title mt-5"></h1>
      <div class="account-wall">
        {# <img class="profile-img" src="{% static 'img/' %}anonymous_mask.png">#}
        <form class="form-signin" action="." method="post">{% csrf_token %}
          <input type="text" name="username" class="form-control" placeholder="Usuario" autofocus required>
          <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
          <p margin-bottom=10px></p>
          <button class="btn btn-outline-success btn-block" type="submit">Entrar</button>
        </form>
      </div>
      {% if form.errors %}
      <p></p>
      <div class="alert alert-danger text-center" role="alert">
        Usuario o password incorrectos.
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
