{% extends "base.html" %}

{% block body %}
<form class="form-group" name="form-register" action="." method="post">
  {% csrf_token %}
  <div class="row">
    <label for="username">{{ form.username.label }}</label>
    <input type="text" class="form-control" name="username" required maxlength="254">
  </div>
  <div class="row">
    <label for="password">{{ form.password.label }}</label>
    <input type="password" class="form-control" name="password1" required maxlength="254">
  </div>
  <div class="row">
    <label for="password">{{ form.password.label }}</label>
    <input type="password" class="form-control" name="password2" required maxlength="254">
  </div>
  <br>
  <div class="row">
    <a href="/" class="btn btn-default float-left">Cancelar</a>
    <button type="submit" name="button" class="btn btn-primary">Login</button>
  </div>
  {% if form.errors %}
  {{form.errors}}
  {% endif %}
  <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
