{% extends "base.html" %}
{% block body %}
  <h1>{{ pregunta.text }}</h1>
  <form class="group-form" action="." method="post">{% csrf_token %}
    {{ form }}
    <button type="btn btn-primary" type="submit" name="button"></button>
  </form>
{% endblock %}
