{% extends "base.html" %}
{% load security %}
{% load static %}

{% block body %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src={% static "/js/apuestas.js" %}></script>

<hr>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Text</th>
            <th>Autor</th>
            <th>Resultados</th>
            {% if request.user|have_admin_group %}
              <th class="glyphicon glyphicon-pencil" aria-hidden="true"></th>
            {% endif %}
            {% if request.user|have_player_group %}
              <th class="glyphicon glyphicon-play" aria-hidden="true"></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for pregunta in pregunta_list %}
            <tr>
                <td>{{ pregunta.id }}</td>
                <td>{{ pregunta.text }}</td>
                <td>{{ pregunta.create_user }}</td>
                <td>
                  {% comment %}
                  {% if pregunta.get_results %}
                  Esto tambien funcionaria, pero hace mas consultas, mientras
                  que pregunta.respuestas_validas ya esta procesado y en memo.
                  {% endcomment %}
                  {% if pregunta.respuestas_validas %}
                    <script type="text/javascript">
                      google.charts.load('current', {'packages':['corechart']});
                      google.charts.setOnLoadCallback(drawChart);

                      function drawChart() {

                        var data = google.visualization.arrayToDataTable([
                        ['Respuestas', 'Cantidad'],
                        {% for x in pregunta.get_results %}
                          ['{{ x.0 }}', {{ x.1 }}],
                        {% endfor %}
                        ]);

                        var options = {
                          legend: { position: "none" },
                        };

                        var chart = new google.visualization.BarChart(document.getElementById('piechart_{{ pregunta.id }}'));
                        chart.draw(data, options);
                        }
                     </script>
                     <div id="piechart_{{ pregunta.id }}" style="width: 400px; height: 80px;"></div>
                     {% endif %}
                </td>
                <td>
                  {% if request.user|have_admin_group %}
                    <a href="/apuestas/{{ pregunta.id }}/">Edit</a>
                  {% endif %}
                  {% if request.user|have_player_group %}
                  {% for x in pregunta.respuesta  %}
                    <a href="javascript: send_apuesta(x.id)">{{ x.text }}</a>
                  {% endfor %}
                    <a href="/apuestas/{{ pregunta.id }}/apuesta/">Jugar</a>
                  {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Pregunta</th>
      <th>Respuesta 1</th>
      <th>Respuesta 2</th>
    </tr>
  </thead>
  <tbody>
    {% regroup apuesta_list_api|dictsort:"pregunta.text" by pregunta.text as apuestas_list %}
    {% for apuesta in apuestas_list %}
    <tr>
      <td><strong>{{ apuesta.grouper }}</strong></td>
      {% for number in apuesta.list|length|make_list %}
      <th>Respuesta {{ number }}</th>
      {% endfor %}

      {% for pregunta in apuesta.list %}

      <td>{{ pregunta.respuesta.text }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
