{% extends "base.html" %}

{% load static %}

{% block body %}
  {% for read in reading_list %}
    <ul class="list-unstyled">
      <li class="media">
        <img class="d-flex mr-3" src="{% static '/' %}{{ read.img }}" height="64" width="64" alt="{{ read.name }}">
        <div class="media-body">
          <h5 class="mt-0 mb-1">{{ read.name }}</h5>
          <a target="_blank" href="{{ read.link }}">Link</a>
          {{ read.text }}
        </div>
      </li>
    </ul>
  {% endfor %}
{% endblock %}
